.fullComment{
    background: #a1a1aa;
    color: #111111;
    border-radius: 5px;
    justify-content: center;
    margin: 10px;
    align-items: center;
    justify-self: center;
    display: flex;
    flex-direction: column;
    width: 50rem;
    height: 100%;
}
.fullComment p{
    padding: 20px;
}
.fullCommentForm{
    display: flex;
    justify-content: center;
    align-items: center;
}
.deleteBtn{
    font-size: 20px;
    color: rgb(233, 63, 63);
    border:1px solid rgb(233, 63, 63);
    border-radius: 5px;
    margin-bottom: 10px;
}