.comments{
    background: #a1a1aa;
    color: #111111;
    border-radius: 5px;
    justify-content: center;
    margin: 10px;
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 15rem;
    height: 8rem;
}
.comments p{
    padding: 20px;
}